.center{
    text-align: center;
}

.imageSize{
    height: 250px;
    width: 250px;
}

.buttonWidth{
    width: 250px;
}

.border{
    border: 250px solid black;
}

.color{
    color: white;
}

.background{
    background-color:#6c757d;
}

.height{
    height: 800px;
}

.pictureSize{
    height: auto;
    width: auto;
}

.titleHeight{
    height: 200px;
}

.textSize{
    font-size: 20px;
}
